<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="events_index" path="/" methods="GET">
        <default key="_controller">AppBundle:Events:index</default>
    </route>

    <route id="events_show" path="/{id}/show" methods="GET">
        <default key="_controller">AppBundle:Events:show</default>
    </route>

    <route id="events_new" path="/new" methods="GET|POST">
        <default key="_controller">AppBundle:Events:new</default>
    </route>

    <route id="events_edit" path="/{id}/edit" methods="GET|POST">
        <default key="_controller">AppBundle:Events:edit</default>
    </route>

    <route id="events_delete" path="/{id}/delete" methods="DELETE">
        <default key="_controller">AppBundle:Events:delete</default>
    </route>

</routes>
